body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
  font-weight: 700;
}

.navbar-brand.logo {
  @include display-font;
  font-style: italic;
  font-weight: 900;
  font-size: 26px;
  color: $blue;
}
